@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #14191f;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: white;
}

.font-pactrick {
    font-family: "Patrick Hand", cursive;
}
.tags {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
